.pagination-item{
  .page-link{
    color: #1daaa3;
  }

}

.pagination{
  .items-per-page{
    margin-right: 30px;
    select{
      width: 100%;
      cursor: pointer;
    }
  }
  .active-item{
    a{
      background-color: #1daaa3;
      color: white;
    }

  }
}

