@media only screen and (max-width: 992px){
    .nav-bar-wrapper{
      .nav-bar-info{
        div{
          padding: 5px;
        }
        .info-phone{
          flex: none;
        }
      }
      .nav-bar-middle{
        padding: 35px;
        display: flex;
        justify-content: center;
        align-items: center;

        .middle-search-cart{
          .middle-search{
            border: 1px solid rgb(199, 194, 194);
          }
          .middle-cat{
            display: none;
          }
        }
        .middle-logo{
          display: none;
        }
      }
    }
};

@media only screen and (max-width: 768px) {
    .nav-bar-wrapper{

      .nav-bar-info{
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        div{
          padding: 5px;
        }

        .info-email-currency{
          border-left: none;
        }
        .info-account{
          display: flex;
          flex: 0;
        }
        .info-phone{
          display: none;
        }
      }
    }
}

@media only screen and (max-width: 500px) {

  .nav-bar-wrapper{
    .nav-bar-info{
      display: flex;
      flex-direction: column;
    }
    .nav-bar-middle{
      .middle-search-cart{
        justify-content: center;
      }
    }
  }
}

@media only screen and (max-width: 400px) {

  .nav-bar-middle{
    display: flex;
    justify-content: center;
    align-items: center;
    .middle-search-cart{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .middle-search{
        padding: 5px;
        border-radius: 10px;
      }
      .middle-cart{
        width: fit-content;
        margin-top: 10px;
        padding: 5px;
        border-radius: 5px;
      }
    }
  }
  .nav-bar-info{
    .info-email-currency{
      font-size: 15px;
    }
  }
}
